body{background-color: #6BC0E9; min-height: 100vh; font-family: "Fredoka", sans-serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; font-variation-settings: "wdth" 100;
    background-image: linear-gradient(to right, #134D82  0%, #134D82 10%, #6BC0E9 10%, #6BC0E9 90%, #134D82 90%, #134D82 100%); margin: 0; box-sizing: border-box;}

header{display: grid; grid-template-columns: 1fr 3fr 1fr; text-align: center; background-color: #F5CB13; margin-top: -8px;
    margin-left: -8px; margin-right: -8px; padding-top: 50px; padding-bottom: 25px; margin-right: 10%; margin-left: 10%;}

main{text-align: center; margin: 0 auto; max-width: 90%;}
main p{max-width: 55%; margin: 0 auto;}

.head_description{max-width: 70%; }

.break_line{max-width: 50%;}

.person1{background-color: #D11013; margin-left: 600px; margin-right: 600px; padding-bottom: 5px; padding-top: 20px; margin-bottom: 30px;}
.person2{background-color: #D11013; margin-left: 600px; margin-right: 600px; padding-bottom: 5px; padding-top: 20px; margin-bottom: 30px;}
.person3{background-color: #D11013; margin-left: 600px; margin-right: 600px; padding-bottom: 5px; padding-top: 20px; margin-bottom: 30px;}

.speaker1{padding-top: 30px; padding-bottom: 30px; padding-top: 90px;}
.speaker2{padding-top: 30px; padding-bottom: 30px;}
.speaker3{padding-top: 30px; padding-bottom: 30px;}



footer{font-size: 2em; text-align: center; background-color: #F5CB13; margin-right: 10%; margin-left: 10%;}
footer h1{margin-bottom: -8px; padding-bottom: 10px; padding-top: 25px;}


.large_font{font-family: "BBH Sans Hegarty", sans-serif; font-weight: 400; font-style: normal;}

hr{max-width: 85%; background-color: black; height: 1px; border: none;}